@media (max-width:1023px) {
    .fetured .top-filter {
        margin-top: 24px;
    }

    .fetured .top-filter .filter .filter-menu {
        width: 100%;
        padding: 0;
    }

    .fetured .top-filter .sort-box {
        margin-left: auto;
    }

    .fetured .top-filter .sort-box .sort {
        position: relative;
    }

    .fetured .top-filter .sort-box .sort .size-sort {
        left: -10px;
    }



    .fetured .product-box {
        margin-top: 40px;
    }
}