@media (max-width:767px) {
    .fetured .top-filter .filter .filter-menu .filter-cat .hide-filter-ico {
        display: none;
    }

    .fetured .top-filter .filter .filter-ico-adaptive {
        display: block;
    }



    .fetured .top-filter .sort-box .sort {
        font-size: 12px;
        line-height: 14px;
    }
}