@media (max-width:767px) {
    .fetured .full-description .box-desc {
        width: 100%;
    }

    .fetured_pading {
        padding-left: 0;
        padding-right: 0;
    }



    .fetured .full-description .box-desc .desc-full {
        width: 100%;
        margin-top: 32px;
        line-height: 20px;
    }

    .fetured .full-description .box-desc .desc-line {
        width: 175px;
        margin-top: 32px;
        margin-bottom: 50px;
    }

}