@media (max-width:1023px) {

    .sign-up {


        .loyalty {
            width: 354px;

            &__heading {
                font-size: 16px;
                line-height: 19px;
            }

            &__desc {
                font-size: 16px;
                line-height: 19px;
            }

            .list-box-loyalty__list {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }


}