@media (max-width:767px) {

    .sign-up {
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;

        .loyalty {
            margin-top: 40px;
            width: 358px;

        }
    }


}