form {
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: slategrey;
    gap: 30px;

}

p {
    color: red;
}

.hide {
    display: none;
}

input {
    width: 250px;
}

.btn {
    width: 100px;
    display: flex;
    padding: 15px 50px;
    text-decoration: none;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0 auto;
}